#content {
  /*margin-left: 20px;*/
}
button.win-splitviewpanetoggle:after {
  font-size: 20px;
}
#content > * {
  margin-left: 20px;
}
#toolbar {
  margin-left: 0 !important;
  position: relative;
  margin-bottom: 20px;
}
#toolbar > span {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 5;
  margin-left: 20px;
  line-height: 48px;
  font-size: 18px;
  font-weight: bold;
}
.form {
  width: 296px;
}
.form label {
  display: block;
}
.form .input-group {
  width: 100%;
  margin-bottom: 20px;
}
.form .input-group input {
  width: 100%;
  min-width: 0;
}
.form .input-divide {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.form .input-divide .input-group {
  width: 50%;
  flex-grow: 1;
  display: inline-block;
}
.form .input-divide .input-group:first-child .win-textbox + * {
  margin-right: 20px;
}
.form .scale {
  width: 100%;
  display: flex;
  align-items: center;
}
.form .scale .win-button {
  height: 32px;
}
.form .scale .win-textbox + * {
  margin-left: 10px;
}
.form > .win-button {
  margin-top: 20px;
  width: 100%;
}
